@import "./variables.scss" ;
@import "./media_queries.scss";

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{      
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.logoweb {
    width: 100%;
    height: 4rem;
    
}

.navegador{
    background-color:$backgroundColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    ul {
        list-style: none;
        display: flex;
        li a{
            color: beige;
            text-decoration: none;
            display: block;
            padding: 10px;
        }
        }
    
}
.nav-link{
    font-weight: 600 !important;
    &:hover{
        color:$colorTres !important;
    }
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
  }

.inicio{
    padding-top: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    align-items: center;
  
}

.imglarga{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.products { 
    padding: 3rem;
    background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tarjeta{
    background-color:$colorDos;
    padding: 1rem;
    border: 5px solid $colorDos;
    border-radius: 5px;
    border: 5px #2C5364 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color:#fff;
    box-shadow: #0F2027;
    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        transition: all .3s linear;
        -webkit-box-shadow: 5px 7px 24px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 7px 24px -6px rgba(0,0,0,0.75);
        box-shadow: 5px 7px 24px -6px rgba(0,0,0,0.75);


    }
    img {
        width: 50%;
        margin: 0 auto;
        object-fit: cover;
        height: auto;
    }
}
.footer {
    background-color: $colorTres;
    color: black;
}

.mapapie{
    width: fit-content;
}


.botoncomprar{
    background-color: #3d19b6;
    color: #fff;
    padding: 1rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    &:hover{
        background-color: $colorTres;
    } 
   
  
    
}

.nav-link{
    &:hover{
        color: $colorUno !important;
    }
}

.carousel-caption{
    bottom: 10rem !important;
    h2{
        font-weight: bold;
        font-size: 2rem;
    }
}

.botonCompartir {
    width: min-content;
    background-color: #3d19b6;
    color: #fff;
    padding: 1rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    
}

.comunicate {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}

.iconhand {
    padding-left: 1rem;

}


