$backgroundColor : rgb(16, 5, 111) ;
$colorUno : #001C30 ;
$colorDos : #176B87 ;
$colorTres : #64CCC5 ;
$colorCuatro : #DAFFFB ;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1rem
);


